<html layout:decorate="~{layout}">
<div class="container my-3" layout:fragment="content">
<table class="table">
	<thead class="table-dark">
		<tr>
			<th>No</th>
			<th>Subject</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="question, loop : ${paging}">
			<td th:text="${loop.count}"></td>
			<td>
				<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}">
				</a>
			</td>
			<td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
			<!--<td>[[${question.createDate}]]</td>-->
		</tr>
	</tbody>
</table>
<a th:href="@{/question/create}" class="btn btn-primary">Post Question</a>
<!-- https://wikidocs.net/162028 -->
</div>
</html>